{
  "tabWidth": 2,
  "useTabs": false,
  "vueIndentScriptAndStyle": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ],
  "arrowParens": "always"
}
